{% extends 'others/layout.html.twig' %}

{% block title %}Traversée {{ crossing.id }}{% endblock %}

{% block contentheader %}
<h1>{{ crossing.link.startingHarbor.name }} &rarr; {{ crossing.link.arrivalHarbor.name }} <small>Traversée</small></h1>
{% endblock %}

{% block contentmain %}

{% endblock %}