{% extends 'others/layout.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block contentheader %}
    <h1>Réservation pour la traversée n° {{ crossing_id }}</h1>
{% endblock %}

{% block contentmain %}
    <div class="row">

    </div>
{% endblock %}